
<include file="Common:header"/>
<script type="text/javascript"> 
  $(document).ready(function(){
	  $("#a1").click(function(){
			$(this).toggleClass("shou");
		    $("#anniu1").toggleClass("on");
		});
	  $("#a2").click(function(){
			$(this).toggleClass("shou");
		    $("#anniu2").toggleClass("on");
		});
  });
</script>
<body>
	<header></header>
	<style type="text/css">
		.layui-unselect{display: none;}
		.eqinput{
			width: 15px !important;
		}
		.eqlogin_user{border:none !important;}
		.eqlogin_user label{width: auto !important;margin-right: 5px;margin-left: 5px;font-size: 13px !important;}
		.layui-form{background: #fbfbfb;padding-bottom: 20px;}
		.registermain{margin-top: 0;}
	</style>
	<!--头部结束-->
	<!-- <div class="banner" id="banner"></div> -->
	<div id="content">
		<div class="jsregister">
			<div class="registertitle">
				<h1>人事招聘服务平台</h1>
				<!-- <h2>— 为市民提供使用共享的智慧服务 —</h2> -->
			</div>
			<form  class="layui-form">
			<div class="registermain">
				<div class="login_div" >
					<label><span>*</span>姓名</label>
					<div class="login_user">
						<input type="text" class="user" lay-verify="required" name="username" placeholder="请输入姓名">
					</div>
				</div>
				<div class="login_div" >
					<label><span>*</span>身份证号</label>
					<div class="login_user">
						<input type="text" class="user" lay-verify="required|identity" name="card" placeholder="请输入身份证号">
					</div>
				</div>
				<div class="login_div" >
					<label><span>*</span>手机号码</label>
					<div class="login_user">
						<input type="text" class="user" name="mobile" lay-verify="required|phone" placeholder="请填写手机号码">
					</div>
				</div>
				<div class="login_div" >
					<label><span>*</span>Email</label>
					<div class="login_user">
						<input type="text" class="user" lay-verify="required|email" name="email" placeholder="请输入Email">
					</div>
				</div>
				<div class="login_div" >
					<label><span>*</span>性别</label>
					<div class="login_user eqlogin_user">
						<input type="radio" class="eqinput" name="sex" value="男" checked=""><label>男</label>
						<input type="radio" class="eqinput" name="sex" value="女"><label>女</label>
					</div>
				</div>
				<!-- <div class="login_div" >
					<label><span>*</span>职业</label>
					<div class="login_user eqlogin_user zhiye-login">
						<input type="checkbox" class="eqinput eqinput1" name="zhiye[]" value="1"><label>医生</label>
						<input type="checkbox" class="eqinput eqinput2" name="zhiye[]" value="2"><label>护士</label>
						<input type="checkbox" class="eqinput" name="zhiye[]" value="3"><label>医技</label>
						<input type="checkbox" class="eqinput" name="zhiye[]" value="4"><label>行政</label>
						<input type="checkbox" class="eqinput" name="zhiye[]" value="5"><label>研究</label>
						<input type="checkbox" class="eqinput" name="zhiye[]" value="6"><label>后勤</label>
						<input type="checkbox" class="eqinput" name="zhiye[]" value="7"><label>其他</label>
					</div>
				</div> -->
				<div class="login_div" >
					<label><span>*</span>密　　码</label>
					<div class="login_user">
						<input type="password" class="user"  name="password" lay-verify="required|passwd" placeholder="请输入密码">
					</div>
				</div>
				<div class="login_div" >
					<label><span>*</span>确认密码</label>
					<div class="login_user">
						<input type="password" class="user" name="passwd" lay-verify="required|confirmPass" placeholder="请再次输入密码">
					</div>
				</div>
				
				
			</div> 
			<div class="tongyi">
				<div class="register_div">
					<button class="register_btn" lay-submit lay-filter="register" >提交</button>
					<button type="reset">重置</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="tc experience" style="display: block;">为了获得更好的用户体验，请在电脑端使用火狐、谷歌、 浏览器填写简历。<em class="close"></em></div>
	<footer> </footer>
<script src="/static/layui/layui.js"></script>
<script>
	function refreshVerify(){
		$("#viewVerify").attr('src',$("#viewVerify").attr('src')+new Date().getTime());
	}
	layui.use(['layer','form'], function(){
	var form = layui.form,layer=layui.layer;
	form.verify({
		confirmPass:function(value){
			if($('input[name=password]').val() !== value)
				return '两次密码输入不一致！';
		},
		checkStr:function(value){
			if(value.length < 5) return '用户名不能低于5位';
			if(value.length > 16) return '用户名不能高于16位';
			if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) return '用户名不能有特殊字符';
			if(/(^\_)|(\__)|(\_+$)/.test(value)) return '用户名首尾不能出现下划线\'_\'';
			if(/^\d+\d+\d$/.test(value)) return '用户名不能全为数字';
		},
		errorCheckbox:function(v,i){
			console.log($(i).html())
			if($(i).find('input').attr('checked')=='checked'){
			}else {
				return typeof($(i).attr('error-message')) != 'undefined' ? $(i).attr('error-message') : (typeof($(i).attr('placeholder')) != 'undefined' ? $(i).attr('placeholder') : '当前为必填项！');
			}
		},
		passwd:[/^[\S]{6,12}$/,'密码必须6到12位，且不能出现空格']
	});
	form.on('submit(register)', function(data){
			$.post('/user/login/reg',data.field,function(_data){
				if(_data.status == 1){
					layer.msg(_data.info,{shift:-1,time:2000,icon:1},function(){
						location.href="/icenter/index/";
					});
				}else{
					refreshVerify();
					layer.alert(_data.info,{
						title:'注册失败错误信息',
						icon:2
					});
				}
				return false;
			},'JSON');
			return false;
		});
	});

	$('.zhiye-login input').click(function(){
    	if($(this).val()=='1'){
    		if(!$(this).attr('checked')){
    			$('.eqinput2').removeAttr('checked');
    			$(this).attr('checked','checked');
    		}else{
				$('.eqinput2').removeAttr('checked');
    			$(this).removeAttr('checked');
    		}
    		
    	}
    	else if($(this).val()=='2'){
    		if(!$(this).attr('checked')){
    			$('.eqinput1').removeAttr('checked');
    			$(this).attr('checked','checked');
    		}else{
    			$('.eqinput1').removeAttr('checked');
    			$(this).removeAttr('checked');
    		}
    		
    	}
    	
    	else if($(this).attr('checked')) $(this).removeAttr('checked');
    	else if(!$(this).attr('checked')) $(this).attr('checked','checked');
     
    })



	</script>
</body>
</html>